@model WebsiteBlogCMS.Data.Tag

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- single tag -->
<section class="text-11 py-5">
    <div class="text11 py-lg-5 py-md-4">
        <div class="container">
            <div class="blog-title px-md-5">
                <h3 class="title-big">
                    Delete Tag
                </h3>
                <ul class="blog-list">
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text11-content">
                        <h2 class="mt-2">Are you sure you want to remove this tag?</h2>

                        <h4 class="mt-sm-5">Title</h4>
                        <p class="mt-2">
                            Tag1
                        </p>

                        @Html.ActionLink("Yes", "Index", "Tag", null, new { @class = "btn btn-style btn-primary mt-5" })
                        @Html.ActionLink("No", "Details", "Tag", new { id = 0 }, new { @class = "btn btn-style btn-primary mt-5" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //single tag -->