@model WebsiteBlogCMS.Data.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutPage1.cshtml";
    var maxLengthOfIntro = 100;
    var maxLengthOfAboutMe = 5000;
}

@section customStyles {
    <link href="~/css/style-liberty.css" rel="stylesheet" />
}

<!-- single user -->
<section class="text-11 py-5">
    <div class="text11 py-lg-5 py-md-4">
        <div class="container">
            <div class="blog-title px-md-5">
                <h3 class="title-big">
                    Edit Profile
                </h3>
                <ul class="blog-list">
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text11-content">
                        <div class="col-lg-12 form-inner-cont">
                            <form action="Edit" method="post" class="signin-form">
                                <label for="profilePhotoLabel">Profile photo:</label>
                                <div class="form-group custom-file">
                                    <label for="profilePhoto" class="custom-file-label">Choose a file</label>
                                    <input type="file" name="profilePhoto" id="profilePhoto"
                                           class="custom-file-input" accept="image/*">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="name">Name:</label>
                                    <input type="text" name="name" id="name"
                                           placeholder="Enter your name *"
                                           required="" />
                                </div>
                                <div class="form-group">
                                    <label for="surname">Surname:</label>
                                    <input type="text" name="surname" id="surname"
                                           placeholder="Enter your surname *"
                                           required="" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email (readonly):</label>
                                    <input type="text" name="email" id="email"
                                           placeholder="sample@gmail.com"
                                           required="" disabled="true" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="oldPassword">Old password:</label>
                                    <input type="password" name="oldPassword" id="oldPassword"
                                           placeholder="Enter your old password *"
                                           required="" />
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">New password:</label>
                                    <input type="password" name="newPassword" id="newPassword"
                                           placeholder="Enter your new password *"
                                           required="" />
                                </div>
                                <div class="form-group">
                                    <label for="intro">Intro (maximum @maxLengthOfIntro characters):</label>
                                    <textarea type="message" name="intro" id="intro"
                                              placeholder="Enter your quick bio *"
                                              required="" maxlength="@maxLengthOfIntro"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="aboutMe">About me (maximum @maxLengthOfAboutMe characters):</label>
                                    <textarea type="message" name="aboutMe" id="aboutMe"
                                              placeholder="Enter your detailed personal information to share with others *"
                                              required="" maxlength="@maxLengthOfAboutMe"></textarea>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-style btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- //single user -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>

<!-- theme changer js -->
<script src="~/js/theme-change.js"></script>
<!-- //theme changer js -->
<!-- courses owlcarousel -->
<script src="~/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
    $(document).ready(function () {
        $('.owl-testimonial').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script for testimonials -->
<!-- bootstrap -->
<script src="~/js/bootstrap.min.js"></script>